//
// CONFIGURACION DE BASE PROYECTO MICLUBDEBENEFICIOS
// AUTOR: OMG
//

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
}

/* FONTS */
body {
    /* INCLUYO FONT Source Sans Pro Regular 400*/
    font-family: 'Source Sans Pro', sans-serif;
    color: $color-gris-oscuro;
}

/* BOTONES */
.boton {
    text-decoration: none;
    font-size: $tamFontBoton;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: $letter-sp;
    display: inline-block;
    padding: 14px 32px;
    border-radius: $radio;
    transition: all 0.7s;
}

/* BOTON SUSCRIPCION */
.botonSuscribir {
    @extend .boton;
    color: white;
    background-color: $color-gris-oscuro;

    &:hover {
        background-color: $color-gris-claro;
        color: black;
    }

}

/* BOTON BUSQUEDA */
.botonBusqueda {
    @extend .boton;
    color: white;
    background-color: $color-rojo-claro;

    &:hover {
        background-color: $color-claro;
        color: $color-rojo-oscuro;
        border: 1px grey solid;
    }

}

/* BOTON CONFIRMACION MODAL */

.botonConfirmar {
    padding: 6px 12px;
    color: white;
    background-color: $color-rojo-claro;

    &:hover {
        color: white;
    }
}

/* MIXIN CARD SUSCRIPCION */
@mixin estiloCardSuscripcion {
    background-color: $color-claro;
    border: 1px solid $color-gris-claro;
    padding: $padding-card;
    border-radius: $radio;
}

/* MAPS */
$margenes : ("zero": 0px, "small": 5px, "medium": 10px, "large": 15px, "extra large": 20px);
$paddings : ("zero": 0px, "small": 5px, "medium": 10px, "large": 15px, "extra large": 20px);