//
// DEFINICION DE ESTILOS FOOTER PROYECTO MICLUBDEBENEFICIOS
// AUTOR: OMG
//
footer {

    /* PROPIEDADES FONDO FOOTER */
    background-color: black;
    color: white;
    
    a {
        /* PROPIEDADES ANCLAS FOOTER */
        text-decoration: none;
        color: white;
    }
    
    ul {
        /* PROPIEDADES LISTAS */
        padding-left: 0px;
        
        li {
            /* PROPIEDADES ITEMS */
            list-style: none;
        }
    }

}