//
// DEFINICION DE ESTILOS FOOTER PROYECTO MICLUBDEBENEFICIOS
// AUTOR: OMG
//
footer {

    /* PROPIEDADES FONDO FOOTER */
    background-color: black;
    color: white;
    margin-bottom: 45px;
    padding-bottom: 45px;
    
    a {
        /* PROPIEDADES ANCLAS FOOTER */
        text-decoration: none;
        color: white;

        &:hover {
            color: $color-rojo-claro;
        }
    }
    
    ul {
        /* PROPIEDADES LISTAS */
        padding-left: map-get($paddings, "zero");
        
        li {
            /* PROPIEDADES ITEMS */
            list-style: none;
        }
    }

}

/* MEDIA QUERIES PARA MANEJO DEL ZOCALO */

/* MOVILES Y TABLETS */

@media screen and (max-width: 1023px) {
    /* SE OCULTA ZOCALO*/
    .zocalo {
        display: none;
    }
    footer {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}

/* DISPOSITIVOS ENTRE 1024 Y 1200 PX */

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    /* SE MUESTRA SOLO ZOCALO SIN IMAGEN TARJETA PARA QUE NO SE SOLAPE CON EL TEXTO*/
    .zocalo {
        background-image: url("../img/fondo-zocalo-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        text-align: center;
        padding: 10px;
        position: fixed;
        z-index: 0;
        bottom: 0;
        width: 100%;
    
        .container {
            position: relative;
        }

        .container p::before {
            content: none;
        }

        p {
            /* PROPIEDADES PARRAFO ZOCALO */
            text-align: center;
            font-size: 2em;
        }
    
        a {
            /* PROPIEDADES ANCLAS ZOCALO */
            text-decoration: none;
            color: $color-claro;
    
            &:hover {
                color: $color-rojo-claro;
            }
        }
    }
}