//
// DEFINICION DE ESTILOS FOOTER PROYECTO MICLUBDEBENEFICIOS
// AUTOR: OMG
//
footer {

    /* PROPIEDADES FONDO FOOTER */
    background-color: black;
    color: white;
    
    a {
        /* PROPIEDADES ANCLAS FOOTER */
        text-decoration: none;
        color: white;

        &:hover {
            color: $color-rojo-claro;
        }
    }
    
    ul {
        /* PROPIEDADES LISTAS */
        padding-left: map-get($paddings, "zero");
        
        li {
            /* PROPIEDADES ITEMS */
            list-style: none;
        }
    }

}