//
// DEFINICION DE ESTILOS HEADER PROYECTO MICLUBDEBENEFICIOS
// AUTOR: OMG
//
header {

    nav {

        background-image: linear-gradient(to top, $color-gris-claro, $color-claro);
        font-weight: bold;

        div {
            a {
                img {
                    width: 120px;
                }
            }
        }
      
        a {
            /* PROPIEDADES ANCLAS */
            text-decoration: none;
            color: black;
        }
        
        li {
            /* LISTAS NAV */
            display: inline-block;
            margin:  map-get($margenes, "zero");
            padding: map-get($paddings, "small");

            &:hover {
                text-decoration: underline;
            }

        }

        h6 {
            margin-bottom: map-get($margenes, "small");
        }

    }

}