//
// DEFINICION DE ESTILOS CUERPO PRINCIPAL PROYECTO MICLUBDEBENEFICIOS
// AUTOR: OMG
//
section {

    margin-bottom: map-get($margenes, "extra large");

    .h2Titulo {
        /* PROPIEDADES TITULOS */
        text-align: center;
        color: #8D99AE;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 32px;
        margin: 20px;
        padding: 15px;
    }

    .h2Section {
        text-align: center;
        background-color: $color-rojo-claro;
        color: $color-claro;
        /* MAP-GET */
        margin-bottom: map-get($margenes, "extra large");
        padding: map-get($paddings, "small");
    }

    a {
        text-decoration: none;
    }

    .cardSuscripcion {
        /* MIXIN */
        @include estiloCardSuscripcion;
    }
    
    .divCard {
        margin: map-get($margenes, "extra large");
        padding: map-get($paddings, "large");
    }

    .bgRecomendado {
        background-color: $color-gris-claro;
    }

    .imgPaquete{ 
        width: 100%;
        max-width: $max-width;
    }

    .divBeneficios {
        margin: map-get($margenes, "medium");
        padding: map-get($paddings, "small");
        transition: all 1s;

        &:hover {
            margin: map-get($margenes, "medium");
            padding: map-get($paddings, "small");
            transform: scale(1.1,1.1);
        }
    }

    .pText {
        margin: 10px;
        padding: 5px;
    }

    .liFaq {
        /* LISTAS FAQ */
        list-style: decimal;
        text-align: justify;
        margin: 5px;
    }

    .aNav {
        /* PROPIEDADES ANCLAS */
        text-decoration: none;
        color: $color-gris-oscuro;
    }

    .aBusq {
        color: white;
    }


    .etiqTabla {
        color: $color-gris-oscuro;
    }

    .checkColor {
        color: $color-rojo-claro;
    }

    /* GOOGLE MAP */

    .map-responsive{
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }
    
    .map-responsive iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

}