//
// DEFINICION DE VARIABLES PROYECTO MICLUBDEBENEFICIOS
// AUTOR: OMG
//

// PALETA DE COLORES
//
$color-gris-oscuro: #2B2D42;
$color-gris-claro: #8D99AE;
$color-claro: #EDF2F4;
$color-rojo-claro: #EF233C;
$color-rojo-oscuro: #D90429; 

// MARGENES Y PADDING
//
$margin-nav: 0px;
$padding-nav: 5px;
$margin-redes: 5px;

$margin-h2: 20px;
$padding-h2: 5px;

$margin-card: 20px;
$padding-card: 15px;

$margin-ben: 10px;
$padding-ben: 5px;

// BOTONES
//
$radio: 4px;
$tamFontBoton: 16px;
$letter-sp: 2px;

// IMG CARDS
$max-width: 400px;
